#title{
  background-image: url("../images/programer.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#mid_section{
  background-color: #EFEFf1;
}
#mid_section2{
  background-image: linear-gradient(to bottom, #efeff1, #e7e8ea, #dfe1e2, #d7dadb, #d0d3d3);
}
#bot_section{
    background: rgb(208,211,211);
    background: linear-gradient(180deg, rgba(208,211,211,1) 0%, rgba(184,184,184,1) 50%, rgba(154,154,154,1) 100%);
}
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  line-height: 1.5;
  margin-left: 10px;
  align-items: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  margin-left: 10px;
} 
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 10px;
}
.carousel-item {
    width: 800px;
    height: 400px;
    margin: auto;
}
.carousel-inner{
    margin: auto;
}
.carousel_size {
    width: 800px;
    height: 400px;
    margin: auto;
}
.navbar{
  padding-bottom: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.25rem;
}
.navbar-brand{
  font-size: 2.0rem;
}
.container-fluid{
  padding: 3% 15%;
}
.top_text{
  padding-top: 15%;
}
.row_tec{
  padding-top: 5%;
}
.row_form{
  padding-top: 5%;
}
.row_carousel{
  padding: 100px;
}
.tec_title{
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
  text-decoration: underline;
}
.code{
  padding-bottom: 30px;
}
.code:hover{
  color: #D5B197;
}
.button{
  margin-top: 5%;
  margin-left: 2%;
}
.pro{
  text-decoration: underline;
}
